@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.sushi-products {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  margin: 40px auto;
  max-width: 1200px;
  padding: 0px 10px;
  box-sizing: border-box;
  justify-content: center;
}
.sushi-products .product-card {
  width: 100%;
  max-width: 260px;
  background: #fff;
  font-family: "Proxima Nova", Arial, sans-serif;
}
.sushi-products .product-card__image-link {
  display: block;
}
.sushi-products .product-card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.sushi-products .product-card__content {
  padding-top: 16px;
  position: relative;
}
.sushi-products .product-card__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sushi-products .product-card__text a {
  text-decoration: none;
}
.sushi-products .product-card__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}
.sushi-products .product-card__desc {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 100%;
}
.sushi-products .product-card__weight {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 100%;
}
.sushi-products .product-card__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.sushi-products .product-card__price {
  color: #55a8b6;
  font-size: 19px;
  font-weight: 700;
  line-height: 100%;
}
.sushi-products .product-card__old-price {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fc5c49;
  font-size: 19px;
  font-weight: 700;
  line-height: 100%;
}
.sushi-products .product-card__hint {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fc5c49;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  aspect-ratio: 1/1;
}
.sushi-products .product-card__hint-hidden-text {
  position: absolute;
  top: 10%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(4px);
  width: 200px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #000;
  z-index: 1000;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
}
.sushi-products .product-card__hint-hidden-text--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0s;
}
.sushi-products .product-card__add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 0;
  border-radius: 50%;
  background: #55a8b6;
  color: #fff;
  font-size: 45px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
}

@media (max-width: 480px) {
  .sushi-products .product-card {
    max-width: 100%;
  }
  .sushi-products .product-card__content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;
  }
  .sushi-products .product-card__text {
    max-width: 250px;
    flex: 1;
    gap: 6px;
    justify-content: space-between;
  }
  .sushi-products .product-card__title {
    font-size: 15px;
  }
  .sushi-products .product-card__desc {
    font-size: 13px;
  }
  .sushi-products .product-card__weight {
    font-size: 13px;
  }
  .sushi-products .product-card__bottom {
    flex-direction: column;
    gap: 10px;
    max-width: 25%;
    shrink: 0;
    margin-top: 0;
  }
  .sushi-products .product-card__hint-hidden-text {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sushi-products .product-card__price {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .sushi-products .product-card__old-price {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */